body {
background-image: url("/assets/images/blurred_backgrounds/blur_bg_3.jpg");
}

#l2 {
  color: lightgray;
  padding: 20px;
  font-size: 35px;
  float: right;
  text-decoration: none;
}

#l1 {
  color: lightgray;
  padding: 20px;
  font-size: 35px;
  float: left;
  text-decoration: none;
}

#title {
  color: white;
  font-size: 80px;
  position: static;
  border: 2px groove darkviolet;
}

.point {
  padding: 30px;
  text-align: bottom;
}

.hero-title {
  padding-top: 110px;
  padding-bottom: 150px;
  font-size: 80px;;
}

#library {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px;
  font-size: 30px;
  text-decoration: none;
}

#picture {
  flex: 33.3%;
  padding-bottom: 135px;
}
